.DS_Store
node_modules/
dist/
unpackage/
.hbuilderx/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
